$colors: (
  primary:      #336696,
  secondary:    #b0bec5,
  error:        #b71c1c,
  accent:       #8c9eff,
  default:      #f4f4f4,
  dark:         #222,
  facebook:     #3B5998,
  white:        #ffffff
);
